[Desktop Entry]
Encoding=UTF-8
Name=Hilux
Comment=Hilux P2P Cryptocurrency
Comment[fr]=Hilux, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Hilux, eşten eşe kriptografik sanal para birimi
Exec=hilux-qt %u
Terminal=false
Type=Application
Icon=hilux128
MimeType=x-scheme-handler/hilux;
Categories=Office;Finance;
